Repository iliasbhal/xstate-builder: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, tslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --parser typescript --write",
    "tslint --fix",
    "git add"
  ],
  "*.{js,jsx,json}": ["prettier --write", "git add"]
}

Update: add ability to remove an event handler
  src/lib/stateBuilder.ts
  src/tests/index.test.ts
Due: prettier --parser typescript --write, tslint --fix

bump version
  package.json
Due: prettier --write

Chore: remove unused method
  src/lib/stateBuilder.ts
Due: prettier --parser typescript --write, tslint --fix

Readme: add explanation about builder pattern
  README.md
Due: none

Update readme
  README.md
Due: none

Update README.md
  README.md
Due: none
