Repository iliasbhal/xstate-builder: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, tslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["prettier --parser typescript --write", "tslint --fix", "git add"],
  "*.{js,json}": ["prettier --write", "git add"]
}

add README
  README.md
Due: none

add script 'coverage'
  README.md
  package.json
Due: prettier --write

configurate for Node v8.2.1 and jsx(tsx)
  .lintstagedrc.json
  README.md
  jest.config.js
  package.json
  tsconfig.json
Due: prettier --write

clean npm scripts
  package.json
Due: prettier --write

use '__tests__/**/*.test.ts' in Jest
  .gitignore
  README.md
  __tests__/foo.test.ts
  jest.config.js
  package.json
  tsconfig.json
Due: prettier --parser typescript --write, tslint --fix, prettier --write

release v1.0.0
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierrc
  .prettierrc.js
  README.md
  __tests__/foo.test.ts
  __tests__/sub.test.ts
  bin/ts-jest-boilerplate
  jest.config.js
  package.json
  src/foo.ts
  src/index.ts
  src/sub.ts
  tsconfig.common.json
  tsconfig.json
  tsconfig.lint.json
  tslint.json
  yarn.lock
Due: prettier --parser typescript --write, tslint --fix, prettier --write

fix `bin` and `dependencies` in package.json
  package.json
Due: prettier --write

fix the npm script `fix`
  package.json
Due: prettier --write

fix a non specified return type.
  src/sub.ts
Due: prettier --parser typescript --write, tslint --fix

initial commit
  README.md
  __tests__/sub.test.ts
  bin/ts-jest-boilerplate
  package-lock.json
  package.json
  src/index.test.ts
  src/index.ts
  src/sub.ts
Due: prettier --parser typescript --write, tslint --fix, prettier --write

undo auto linting
  .huskyrc.json
  .lintstagedrc.json
  README.md
Due: prettier --write

Update: added 'in' method to TransitonBuilder
  src/index.ts
Due: prettier --parser typescript --write, tslint --fix

Readme: add disclaimer
  README.md
Due: none

Naming: use 'parent' instead of 'extend' to define parent builder
  src/index.ts
Due: prettier --parser typescript --write, tslint --fix

TODO: update todo list
  package.json
  src/index.test.ts
Due: prettier --parser typescript --write, tslint --fix, prettier --write

TODO: update todo list
  src/index.test.ts
  src/index.ts
Due: prettier --parser typescript --write, tslint --fix

Update README.md
  README.md
Due: none

Update: add ability to move a node around and test cases
  package.json
  src/index.test.ts
  src/index.ts
Due: prettier --parser typescript --write, tslint --fix, prettier --write

Test + Edge case handling: added state reproduction test case
  src/index.ts
  src/tests/index.test.ts
  src/tests/reproduce.test.ts
Due: prettier --parser typescript --write, tslint --fix

Update: added .deep .shallow .target to historynodes
  src/index.ts
  src/tests/index.test.ts
  src/tests/reproduce.test.ts
Due: prettier --parser typescript --write, tslint --fix

Tests: added tests o reproduce the async sequence example
  src/index.ts
  src/tests/index.test.ts
  src/tests/reproduce.test.ts
Due: prettier --parser typescript --write, tslint --fix

Fix: ensure that transitionData is acuumulated
  src/index.ts
Due: prettier --parser typescript --write, tslint --fix

Test: add test to reproduce the Todo example
  src/tests/index.test.ts
  src/tests/reproduce.test.ts
Due: prettier --parser typescript --write, tslint --fix

Test Wip: adding full reproduction of todo state machine
  src/index.ts
  src/tests/reproduce.test.ts
  src/tests/todo_mvc_example.test.ts
Due: prettier --parser typescript --write, tslint --fix

Test: finish reimplementing todoMVC example in tests
  src/index.ts
  src/tests/index.test.ts
  src/tests/todo_mvc_example.test.ts
Due: prettier --parser typescript --write, tslint --fix

Update: added automatically reformat target id when referencing a child state
  src/index.ts
  src/tests/example_reddit.test.ts
  src/tests/example_todo_mvc.test.ts
  src/tests/index.test.ts
Due: prettier --parser typescript --write, tslint --fix

Export changes from private mono repo
  .prettierrc.js
  src/index.ts
  src/lib/baseMachineBuilder.ts
  src/lib/historyBuilder.ts
  src/lib/invokeBuilder.ts
  src/lib/stateBuilder.ts
  src/lib/transitionBuilder.ts
  src/tests/example_reddit.test.ts
  src/tests/example_todo_mvc.test.ts
  src/tests/index.test.ts
  tsconfig.common.json
  tsconfig.json
  tsconfig.lint.json
Due: prettier --parser typescript --write, tslint --fix, prettier --write

Update Readme
  README.md
Due: none

Added examples
  README.md
Due: none

Readme: added example that showcase use of `machine.states`
  README.md
Due: none

Readme: improve readability.
  README.md
Due: none

Readme: showcase ability to use variables
  README.md
Due: none

Update Readme: add arguments against Object configuration pattern
  README.md
Due: none

WIP: added bunch of stuff
  .DS_Store
  jest.config.js
  package-lock.json
  package.json
  src/index.ts
  src/lib/createMachineConfig.ts
  src/lib/stateBuilder.ts
  src/lib/transitionBuilder.ts
  src/tests/24_days_of_state_machines_examples.test.ts
  src/tests/index.test.ts
  src/tests/react/machine.test.ts
  src/tests/react/react-integration.test.tsx
  src/tests/react/xstate-intergation.test.ts
  src/tests/reproduce.test.ts
  tsconfig.json
Due: prettier --parser typescript --write, tslint --fix, prettier --write

Readme: added todo to the readme file
  README.md
Due: none

Added license
  LICENSE
Due: none

Update: add ability to remove states
  src/lib/stateBuilder.ts
  src/tests/index.test.ts
Due: prettier --parser typescript --write, tslint --fix
